h1 {
  font-family: 'Russo One';
}

#content {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: -2em;
}

p {
  margin-left: 3em;
  font-family: tahoma, arial, sans-serif;
  font-size: 1.5em;
}

#create {
  margin: 2em;
}

form button {
  position: relative;
  left: 20em;
}

#orange {
  color: orange;
}

#code {
  margin: 3em;
  font-family: courier;
  font-size: 1em;
}

#done {
  color: green;
}

a {
  color: white;
  text-decoration: none;
}

#filelist {
  font-family: courier;
  font-size: 1.2em;
}

#filename {
  color: #aaffaa;
}

#dirname {
  color: #aaaaff;
}

#icon {
  height: 64px;
  width: auto;
  vertical-align: middle;
  margin-right: 8px;
}

#filedesc {
  color: #808080;
  margin-left: 3.8em;
  top: -1.2em;
  position: relative;
}

#viewfilebg {
  border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  padding: 1em;
  margin-left: 3em;
  margin-right: 5em;
  background: rgba(0, 0, 0, .5);
}

table {
	border-style: solid;
	border-width: 2px;
	border-color: white;
  border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
	background-color: rgba(0, 0, 0, .6);
}

#endrow {
  margin: 0;
	padding: 0.5em;
	border-style: none;
}

th {
  padding: 8px;
}

td {
  border-style: solid;
	border-width: 1px;
  border-color: black;
  padding: 8px;
}

#odd {
  background-color: #a0a0a0;
	color: #101010;
}

#even {
  background-color: #707070;
	color: #101010;
}

#blacklink {
  color: black;
}

#indent {
  margin-left: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
